body{
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bg_container{
    background-color: #FFfffF;
    border-radius: 5px;
}
.table_container{
    text-align: center;
}
.obj_name{
    color: black;
    text-decoration: none;
}